footer{
    position: fixed;
    height: 120px;
    background: rgb(155,211,225);
    bottom: 0;
    width: 100%;
    margin-top: 100px;
     
}

main.container{
    margin-bottom:150px!important ;
}


  .toggle-checkbox:checked {
    right: 0;
    border-color: #3b82f6; /* Blue color */
    background-color: #3b82f6; /* Blue color */
  }
  .toggle-checkbox:checked + .toggle-label {
    background-color: #3b82f6; /* Blue color */
  }
